*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
    color: #2B283A;
}

span{
    font-weight: 600;
}

p{
    font-weight: 400;
    color: #2B283A;
    font-size: 16px;
    word-spacing: 1.9px;
}
